<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2017.2.621" value="C:\Users\gscull\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2017.2.621.commercial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>